{% extends "projects/base.html" %}
{% load static %}
{% block page_content %}
    <div class="container text-center pb-5 pt-5">
        <h1>About Me</h1>
    <div class="container pb-5">
        <div class="row featurette pt-5">
        <div class="col-md-7">
            <h2 class="featurette-heading pb-5">I'm Oreoluwa Lana, a Web Developer<span class="text-muted"></h2>
            <p class="lead">I am a sofware developer based in Nigeria and i have been building noteworthy websites for a few years, which comply with the latest technologies. I help convert a vision and an idea into meaningful and useful products. Having a sharp eye for product evolution helps me prioritize tasks, iterate fast and deliver faster.</p>
        </div>
        <div class="col-md-5">
            <img src="/static/projects/img/ore.jpg" class="d-block w-100">

        </div>
        </div>
    </div>

{% endblock %}